@font-face {
    font-family: button;
    src: url(button.ttf);
}

@font-face {
    font-family: nav;
    src: url(nav.ttf);
}

@font-face {
    font-family: swan;
    src: url(Swansea-q3pd.ttf);
}

h2{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-block-end: 50px;
    margin-inline-start: 50px;
    margin-inline-end: 50px
}

.topnav{
    background-color: rgba(0, 0, 0, 0.317);
    text-align: end;
    overflow: hidden;
}

.navbar{
    inline-size: 100%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-family: nav;
}
.logo{
    inline-size: 120px;
    cursor: pointer;
    inline-size:95px;
    margin-inline-start:20px;
    margin-block-start:5px;
    margin-block-end:3px;
    float: inline-start;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;
    margin-inline-end: 40px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fffffe;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
.navbar ul li::after{
    content: '';
    block-size: 3px;
    inline-size: 0;
    background: #C1A5A1;
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    inline-size: 100%;
}

.body {
    background-image: linear-gradient( antiquewhite, lightblue);
    height: 230vh;
    font-family: swan;
}

.body-bora {
    background-image: linear-gradient( antiquewhite, lightblue);
    height: 185vh;
    font-family: swan;
}

.body-small {
    background-image: linear-gradient( antiquewhite, lightblue);
    height: 190vh;
    font-family: swan;
}

.body-samal {
    background-image: linear-gradient( antiquewhite, lightblue);
    height: 205vh;
    font-family: swan;
}

.main-title {
    font-family: button;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
}

.beachvid {
    right: 0;
    margin-right: 15px;
    min-width: 40%;
    min-height: 100%;
}

.intro {
    display:flex;
}

.desc-one {
    font-family: dubhai;
    padding: 30px;
    float: left;
    height: 25vh;
    width: 50pvh;
    font-family: swan;
    font-weight: bold;
    font-size: 20px;
}

body {
    margin: 0;
}

.infos {
    height: 70vh;
    display: flex;
    justify-content: space-around; 
}

.pic {
    height: 100px;
}

.info-one {
    margin-top: 20px;
    width: 220vh;
}

.card {
    margin: 10px;
    margin-top: 10vh;
    padding: 10px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
    font-family: swan;
}

h5{
    font-family: button;
}

footer {
    display:block;
    background-color: rgb(255, 255, 255);
    inset-block-end: 0px;
    position: fixed;
    inline-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}

.footer-parag {
    text-align: center;
}