@font-face {
    font-family: button;
    src: url(button.ttf);
}

@font-face {
    font-family: nav;
    src: url(nav.ttf);
}

@font-face {
    font-family: swan;
    src: url(Swansea-q3pd.ttf);
}

h2{
    text-align: center;
    color: white;
    font-size: 20px;
    margin-block-end: 50px;
    margin-inline-start: 50px;
    margin-inline-end: 50px
}

.topnav{
    background-color: rgba(0, 0, 0, 0.317);
    text-align: end;
    overflow: hidden;
}

.navbar{
    inline-size: 100%;
    margin: auto;
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-family: nav;
}
.logo{
    inline-size: 120px;
    cursor: pointer;
    inline-size:95px;
    margin-inline-start:20px;
    margin-block-start:5px;
    margin-block-end:3px;
    float: inline-start;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 40px;
    position: relative;
    margin-inline-end: 40px;
}
.navbar ul li a{
    text-decoration: none;
    color: #fffffe;
    text-transform: uppercase;
    padding: 7px 13px;
    border-radius: 3px;
}
.navbar ul li::after{
    content: '';
    block-size: 3px;
    inline-size: 0;
    background: #C1A5A1;
    position: absolute;
    inset-inline-start: 0;
    inset-block-end: -10px;
    transition: 0.5s;
}
.navbar ul li:hover::after{
    inline-size: 100%;
}

.body {
    background-image: linear-gradient( antiquewhite, lightblue);
    height: 215vh;
    font-family: swan;
}

.body-el {
    background-image: url(elnidobg.png);
    height: 245vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body-bora {
    background-image: url(boracay.jpg);
    height: 195vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body-puerto {
    background-image: url(puerto.jpg);
    height: 205vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body-samal {
    background-image: url(samal.jpg);
    height: 220vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body-panglao {
    background-image: url(panglao.jpg);
    height: 200vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body-coron {
    background-image: url(coron\ .jpg);
    height: 195vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body-palaui {
    background-image: url(palaui.jpg);
    height: 195vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body-pagudpud {
    background-image: url(pagudpud.jpg);
    height: 205vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body-siargao {
    background-image: url(siargao.jpg);
    height: 195vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.body-mactan {
    background-image: url(mactan.jpg);
    height: 195vh;
    font-family: swan;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.main-title {
    font-family: button;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
    color: #fffffe;
    background-color: rgba(11, 11, 11, 0.49);
    padding: 10px;
    margin-right: 10px;;
    display: inline-flex;
}

.bora-title {
    font-family: button;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
}


.beachvid {
    right: 0;
    margin-right: 15px;
    margin-top: 0;
    min-width: 40%;
    min-height: 100%;
}

.intro {
    display:flex;
}

.desc-one {
    font-family: dubhai;
    padding: 30px;
    float: left;
    height: 25vh;
    width: 50pvh;
    font-family: swan;
    font-weight: bold;
    font-size: 20px;
    color: #fffffe;
    margin-left: 15px;
}

.palaui-desc {
    font-family: dubhai;
    padding: 30px;
    float: left;
    height: 25vh;
    width: 50pvh;
    font-family: swan;
    font-weight: bold;
    font-size: 20px;
}

body {
    margin: 0;
}

.infos {
    height: 70vh;
    display: flex;
    justify-content: space-around; 
}

.pic {
    height: 100px;
}

.info-one {
    height: 70vh;
    display: flex;
    justify-content: space-around; 
    margin-top: 10px;
}

.card {
    margin: 10px;
    margin-top: 10vh;
    padding: 10px;
}

.card-title {
    text-align: center;
}

.card-text {
    text-align: center;
    font-family: swan;
}

h5{
    font-family: button;
}

footer {
    display:block;
    background-color: rgb(255, 255, 255);
    inset-block-end: 0px;
    position: fixed;
    inline-size: 100%;
    margin-top: 2%;
}

.footer-parag {
    text-align: center;
}

.desc-one {
    color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}

.main-title{
        text-shadow:
            0.05em 0 black,
            0 0.05em black,
            -0.05em 0 black,
            0 -0.05em black,
            -0.05em -0.05em black,
            -0.05em 0.05em black,
            0.05em -0.05em black,
            0.05em 0.05em black;
}

.bora-title{
    font-family: button;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
    color: #fffffe;
    background-color: rgba(11, 11, 11, 0.49);
    padding: 10px;
    margin-right: 10px;;
    display: inline-flex;

    text-shadow:
    0.05em 0 black,
    0 0.05em black,
    -0.05em 0 black,
    0 -0.05em black,
    -0.05em -0.05em black,
    -0.05em 0.05em black,
    0.05em -0.05em black,
    0.05em 0.05em black;
}

.palaui-desc{
    color: white;
    font-size: 20px;
    text-shadow:
        0.07em 0 black,
        0 0.07em black,
        -0.07em 0 black,
        0 -0.07em black;
}